<div class="content">
    <div class="container_12">
            <div class="map_wrapper grid_8">
                <div class="shadow-block-wrapper">
                    <div class="shadow-block">
                        <h2>Locais das Estações Meteorológicas</h2>
                        <div class="img-wrapper-1 events img-bord1">
                          <iframe id="map_canvas"
                            src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Fatec+Votorantim&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=61.282355,146.513672&amp;ie=UTF8&amp;hq=&amp;hnear=Fatec+Votorantim&amp;ll=-23.530908417097027,-47.44933797513014&amp;spn=0.1,0.1&amp;z=14&amp;iwloc=A&amp;output=embed">
                          </iframe>
                            <br>
                            <br>
                            <div>Estação Meteorológica localizada na Faculdade de Tecnologia de Votorantim</div>
                        </div>
                        <dl class="address">
                        </dl>
                    </div>
                </div>
            </div>
            <article class="grid_4">
                <div class="shadow-block-wrapper cont-form">
                    <div class="shadow-block">
                        <h2>Informações</h2>
                        <form id="contact-form">
                            <div class="success"><br>
                            </div>
                            <fieldset>
                                <label class="name">
                                    <input type="text" readonly value="Latitude: -23.530898580418928">
                                </label>
                                <label class="email">
                                    <input type="email" readonly value="Longitude: -47.44926287327627">
                                </label>
                                <label class="phone">
                                    <input type="tel" readonly value="Tipo: Estação Completa">
                                </label>
                                <div class="form_buttons">
                                    <a href="#" class="btn-1" data-type="submit"><span>send message</span></a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </article>
    </div>
</div>
