<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <div class="container">
    <div class="admin-header">
      <h1>Página do Administrador</h1>
        <div id="imagemUsuario"></div>
          <li class="nav-item">
          <button class="btn  btn-block fundo-laranja-escuro" onclick="logoutFirebase()"><i
                  class="bi bi-box-arrow-in-right"></i>Logout</button>
          </li>
    </div>
        <button class="btn btn-outline-primary" routerLink="/listaCliente">
          Clientes
        </button>
    <div class="message">
      <h2>Bem-vindo!</h2>
    </div>
    <div class="image-container">
      <img src="caminho/para/imagem.jpg" alt="Imagem" width="300">
    </div>
  </div>

