<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<div class="container">
    <div class="admin-header">
      <h1>Página do Administrador</h1>
      <button routerLink="/login" class="btn btn-danger">Sair</button>
    </div>
    <nav class="admin-nav">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/admHome">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listaCliente">Clientes</a>
        </li>
      </ul>
    </nav>
    <div class="message">
      <h2>Bem-vindo!</h2>
    </div>
    <div class="image-container">
      <img src="caminho/para/imagem.jpg" alt="Imagem" width="300">
    </div>
  </div>
