<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<div class="container">
    <h2>Cadastro de Clientes</h2>
    <form>
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" id="nome" placeholder="Digite o nome">
      </div>
      <div class="form-group">
        <label for="endereco">Endereço:</label>
        <input type="text" class="form-control" id="endereco" placeholder="Digite o endereço">
      </div>
      <div class="form-group">
        <label for="limite-credito">Limite de Crédito:</label>
        <input type="number" class="form-control" id="limite-credito" placeholder="Digite o limite de crédito">
      </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
