<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<div class="container">
    <h2>{{title}}</h2>
    <form (ngSubmit) = "onSubmit()">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" 
        class="form-control" 
        id="nome" 
        placeholder="Digite o nome"
        [(ngModel)] = "cliente.nome">
      </div>
      <div class="form-group">
        <label for="senha">Senha</label>
        <input type="text" 
        class="form-control" 
        id="senha" 
        placeholder="Digite a senha"
        [(ngModel)] = "cliente.senha">
      </div>
      <div class="form-group">
        <label for="confSenha">Confirmar Senha</label>
        <input type="text" 
        class="form-control" 
        id="confSenha" 
        placeholder="Confirme a senha">
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" 
        class="form-control" 
        id="email" 
        placeholder="Digite o e-mail"
        [(ngModel)] = "cliente.email">
      </div>
      <div class="form-group">
        <label for="tel">Telefone</label>
        <input type="tel" 
        class="form-control" 
        id="tel"
        placeholder="Digite o telefone"
        [(ngModel)] = "cliente.telefone">
      </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
