<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<body>
    <div class="container">
      <h2>Login do Administrador</h2>
      <form>
        <div class="form-group">
          <label for="usuario">Usuário:</label>
          <input type="text" class="form-control" id="usuario" placeholder="Digite o nome de usuário" required>
        </div>
        <div class="form-group">
          <label for="senha">Senha:</label>
          <input type="password" class="form-control" id="senha" placeholder="Digite a senha" required>
        </div>
        <button routerLink="/admHome" type="submit" class="btn btn-primary">Entrar</button>
      </form>
    </div>
</body>
