<div class="content">
    <div class="container_12">
        <div class="row guides">
            <div class="grid_4">
                <div class="shadow-block-wrapper">
                    <div class="shadow-block maxheight">
                        <h2>Overview</h2>
                        <a href="images/page-2_img-1-b.jpg" class="magnifier">
                            <img src="images/page-2_img-1.jpg" alt="" class="wrapper">
                        </a>
                        <ul class="list-1">
                            <li><a href="#">About Weather Stations</a></li>
                            <li><a href="#">Map of Weather Stations</a></li>
                            <li><a href="#">Sign Up Your Station</a></li>
                            <li><a href="#">My Weather Channel</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <div class="shadow-block-wrapper">
                    <div class="shadow-block maxheight">
                        <h2>Weather History</h2>
                        <a href="images/page-2_img-2-b.jpg" class="magnifier">
                            <img src="images/page-2_img-2.jpg" alt="" class="wrapper">
                        </a>
                        <ul class="list-1">
                            <li><a href="#">Airport Weather History</a></li>
                            <li><a href="#">Hurricane Archive</a></li>
                            <li><a href="#">Record Extremes</a></li>
                            <li><a href="#">Travel Planner</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <div class="shadow-block-wrapper">
                    <div class="shadow-block maxheight">
                        <h2>Travel</h2>
                        <a href="images/page-2_img-3-b.jpg" class="magnifier">
                            <img src="images/page-2_img-3.jpg" alt="" class="wrapper">
                        </a>
                        <ul class="list-1">
                            <li><a href="#">Road Trip Planner</a></li>
                            <li><a href="#">Travel Planner</a></li>
                            <li><a href="#">Beach Weather</a></li>
                            <li><a href="#">US National Parks</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <div class="shadow-block-wrapper">
                    <div class="shadow-block maxheight">
                        <h2>Activities</h2>
                        <a href="images/page-2_img-4-b.jpg" class="magnifier">
                            <img src="images/page-2_img-4.jpg" alt="" class="wrapper">
                        </a>
                        <ul class="list-1">
                            <li><a href="#">Ski &amp; Snow</a></li>
                            <li><a href="#">Sports</a></li>
                            <li><a href="#">General Aviation</a></li>
                            <li><a href="#">Sailing &amp; Boating</a></li>
                            <li><a href="#">Agriculture</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <div class="shadow-block-wrapper">
                    <div class="shadow-block maxheight">
                        <h2>Downloads</h2>
                        <a href="images/page-2_img-5-b.jpg" class="magnifier">
                            <img src="images/page-2_img-5.jpg" alt="" class="wrapper">
                        </a>
                        <ul class="list-1">
                            <li><a href="#">Wunderground Apps</a></li>
                            <li><a href="#">Weather ™ API for Developers</a></li>
                            <li><a href="#">Weather Stickers</a></li>
                            <li><a href="#">Daily Forecast Flyer</a></li>
                            <li><a href="#">Astronomy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <div class="shadow-block-wrapper">
                    <div class="shadow-block maxheight">
                        <h2>Health</h2>
                        <a href="images/page-2_img-6-b.jpg" class="magnifier">
                            <img src="images/page-2_img-6.jpg" alt="" class="wrapper">
                        </a>
                        <ul class="list-1">
                            <li><a href="#">Air Quality</a></li>
                            <li><a href="#">Pollen &amp; Allergies</a></li>
                            <li><a href="#">UV Index</a></li>
                            <li><a href="#">Flu Tracker</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
