<div class="content">
  <div class="container_12">
      <div class="row guides">
          <div class="grid_4">
              <div class="shadow-block-wrapper">
                  <div class="shadow-block maxheight">
                      <h2>Basic</h2>
                      <a href="../../../assets/images/imagens planos/basic.png" class="magnifier">
                          <img src="../../../assets/images/imagens planos/basic.png" alt="" class="wrapper">
                      </a>
                      <ul class="list-1">
                          <li><a href="#">Consulta de Clima</a></li>
                          <li><a href="#">Vídeos temáticos</a></li>
                          <li><a href="#">Artigos</a></li>
                      </ul>
                      <div class="form_buttons">
                        <a href="#" class="btn-1" data-type="submit"><span>Escolher</span></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="grid_4">
              <div class="shadow-block-wrapper">
                  <div class="shadow-block maxheight">
                      <h2>Classic</h2>
                      <a href="../../../assets/images/imagens planos/classic.png" class="magnifier">
                          <img src="../../../assets/images/imagens planos/classic.png" alt="" class="wrapper">
                      </a>
                      <ul class="list-1">
                          <li><a href="#">Consulta de Clima</a></li>
                          <li><a href="#">Vídeos temáticos</a></li>
                          <li><a href="#">Artigos</a></li>
                          <li><a href="#">Receber notícias via e-mail</a></li>
                          <li><a href="#">Receber clima via Whatsapp</a></li>
                      </ul>
                      <div class="form_buttons">
                        <a href="#" class="btn-1" data-type="submit"><span>Escolher</span></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="grid_4">
              <div class="shadow-block-wrapper">
                  <div class="shadow-block maxheight">
                      <h2>Premium</h2>
                      <a href="../../../assets/images/imagens planos/premium.png" class="magnifier">
                          <img src="../../../assets/images/imagens planos/premium.png" alt="" class="wrapper">
                      </a>
                      <ul class="list-1">
                          <li><a href="#">Consulta de Clima</a></li>
                          <li><a href="#">Vídeos temáticos</a></li>
                          <li><a href="#">Artigos</a></li>
                          <li><a href="#">Receber notícias via e-mail</a></li>
                          <li><a href="#">Receber clima via Whatsapp</a></li>
                          <li><a href="#">Acesso ilimitado aos dados da API</a></li>
                      </ul>
                      <div class="form_buttons">
                        <a href="#" class="btn-1" data-type="submit"><span>Escolher</span></a>
                      </div>
                  </div>
              </div>
          </div>
