<div class="content" >
    <div class="container_12">
        <div class="row">
            <div class="grid_8">
                <div class="shadow-block-wrapper p-news">
                    <div class="shadow-block">
                        <h2>Notícias</h2>
                        <div class="box-1 clearfix">
                            <img id="img1" alt="" class="img-ind">
                            <div>
                                <h3 id="not1"><a id="" href=""></a></h3>
                                <div class="short_info">
                                    <span id="desc1"></span>
                                    <span ></span>
                                </div>
                                <div></div>
                            </div>
                        </div>
                        <div class="box-1 clearfix">
                            <img src="../../../assets/images/cop28.webp" alt="" class="img-ind">
                            <div>
                                <h3>COP28: chefe da ONU diz que limar combustíveis fósseis é a única solução para o planeta</h3>
                                <div class="short_info">
                                </div>
                                <div>Guterres incitou governos a incentivarem empresas a adotarem modelos de energia renovável
                                  <a href="https://www.cnnbrasil.com.br/internacional/cop28-chefe-da-onu-diz-que-limar-combustiveis-fosseis-e-a-unica-solucao-para-o-planeta/" class="btn">Mais</a></div>
                            </div>
                        </div>
                        <div class="box-1 clearfix">
                            <img src="../../../assets/images/rei.webp"  alt="" class="img-ind">
                            <div>
                                <h3>Rei Charles III sobre crise climática: “território perigoso e desconhecido”</h3>
                                <div class="short_info">
                                </div>
                                <div>Durante a COP28, o monarca mostra preocupação com o futuro do mundo
                                   <a href="https://www.cnnbrasil.com.br/internacional/rei-charles-iii-sobre-crise-climatica-territorio-perigoso-e-desconhecido/" class="btn">More</a></div>
                            </div>
                        </div>
                        <div class="box-1 clearfix">
                            <img src="../../../assets/images/retro.webp" alt="" class="img-ind">
                            <div>
                                <h3>COP28 tem início após ano de “retrocesso” mundial no clima, dizem especialistas</h3>
                                <div>2023 viu políticas verdes sendo diluídas, novos e enormes projetos de petróleo e gás e o ressurgimento do carvão; Mundo está a caminho de aquecer 2,9 graus e novas ações climáticas serão discutidas na COP28
                                  <a href="https://www.cnnbrasil.com.br/internacional/cop28-tem-inicio-apos-ano-de-retrocesso-mundial-no-clima-dizem-especialistas/" class="btn">More</a></div>
                            </div>
                        </div>
                        <div class="box-1 clearfix">
                            <img  alt="" class="img-ind">
                            <div>
                                <h3>Vestibulum sed ante.<br>Donec sagittis euismod purus ibulum </h3>
                                <div class="short_info">
                                    <span>By <a class="h-underline" href="#">Tariq Malik</a></span>
                                    <span>October 4, 2013</span>
                                </div>
                                <div>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. lobortis dignissim, pulvinar ac, lorem. <a href="#" class="btn">More</a></div>
                            </div>
                        </div>
                        <div class="box-1 clearfix">
                            <img  alt="" class="img-ind">
                            <div>
                                <h3>Vestibulum sed ante. <br>Donec sagittis euismod purus ibulum </h3>
                                <div class="short_info">
                                    <span>By <a class="h-underline" href="#">Tariq Malik</a></span>
                                    <span>October 4, 2013</span>
                                </div>
                                <div>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. lobortis dignissim, pulvinar ac, lorem. <a href="#" class="btn">More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <h2>Most Discussed</h2>
                <div class="bg-4 p5">
                    <ul class="list-1">
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Praesent vestibulum molestie porta fusce suscipit varius miursu</a></li>
                        <li><a href="#">Nulla facilisienean nec eroestibulum ante ipsum primis</a></li>
                        <li><a href="#">Etiam cursus leo vel metusenean</a></li>
                        <li><a href="#">In faucibus orci luctus etltrices posuere cubilia Curae</a></li>
                        <li><a href="#">Suspendisse sollicitudin velit sed leot pharetra augue nec </a></li>
                        <li><a href="#">Nam elit agna,endrerit sit amet</a></li>
                        <li><a href="#">Tincidunt ac, viverra sed, nulla onec porta diam eu massa</a></li>
                    </ul>
                </div>
                <h2>Today's Top Videos</h2>
                <div class="b-video">
                    <div class="box-3">
                        <a class="various iframe" href="http://www.youtube.com/embed/2kodXWejuy0?rel=0"><img  alt="" class="wrapper"></a>
                        <h3><a class="a-hov" href="#">Aenean nonummy hendrerit mauris phasellus <span>porta</span></a></h3>
                    </div>
                    <div class="box-3">
                        <a class="various iframe" href="http://www.youtube.com/embed/2kodXWejuy0?rel=0"><img  alt="" class="wrapper"></a>
                        <h3><a class="a-hov" href="#">Ultrices posuere cubilia curae aug Suspendisse sollicitudin velit sed leou pharetra <span>augue </span></a></h3>
                    </div>
                    <div class="box-3">
                        <a class="various iframe" href="http://www.youtube.com/embed/2kodXWejuy0?rel=0"><img alt="" class="wrapper"></a>
                        <h3><a class="a-hov" href="#">Vestibulum ante ipsum primis inmo faucibus orci luctus <span>et</span></a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
