<div class="content" >
    <div class="container_12">
        <div class="row">
            <div class="grid_8">
                <div class="shadow-block-wrapper p-news">
                    <div class="shadow-block">
                        <h2>Notícias</h2>
                        <div class="box-1 clearfix">
                            <img id="img1" alt="" class="img-ind">
                            <div>
                                <h3 id="not1"><a id="" href=""></a></h3>
                                <div class="short_info">
                                    <span id="desc1"></span>
                                    <span ></span>
                                </div>
                                <div></div>
                            </div>
                        </div>
                        <div class="box-1 clearfix">
                            <img src="../../../assets/images/cop28.webp" alt="" class="img-ind">
                            <div>
                                <h3>COP28: chefe da ONU diz que limar combustíveis fósseis é a única solução para o planeta</h3>
                                <div class="short_info">
                                </div>
                                <div>Guterres incitou governos a incentivarem empresas a adotarem modelos de energia renovável
                                  <a href="https://www.cnnbrasil.com.br/internacional/cop28-chefe-da-onu-diz-que-limar-combustiveis-fosseis-e-a-unica-solucao-para-o-planeta/" class="btn">Mais</a></div>
                            </div>
                        </div>
                        <div class="box-1 clearfix">
                            <img src="../../../assets/images/rei.webp"  alt="" class="img-ind">
                            <div>
                                <h3>Rei Charles III sobre crise climática: “território perigoso e desconhecido”</h3>
                                <div class="short_info">
                                </div>
                                <div>Durante a COP28, o monarca mostra preocupação com o futuro do mundo
                                   <a href="https://www.cnnbrasil.com.br/internacional/rei-charles-iii-sobre-crise-climatica-territorio-perigoso-e-desconhecido/" class="btn">More</a></div>
                            </div>
                        </div>
                        <div class="box-1 clearfix">
                            <img src="../../../assets/images/retro.webp" alt="" class="img-ind">
                            <div>
                                <h3>COP28 tem início após ano de “retrocesso” mundial no clima, dizem especialistas</h3>
                                <div>2023 viu políticas verdes sendo diluídas, novos e enormes projetos de petróleo e gás e o ressurgimento do carvão; Mundo está a caminho de aquecer 2,9 graus e novas ações climáticas serão discutidas na COP28
                                  <a href="https://www.cnnbrasil.com.br/internacional/cop28-tem-inicio-apos-ano-de-retrocesso-mundial-no-clima-dizem-especialistas/" class="btn">More</a></div>
                            </div>
                        </div>
                        <div class="box-1 clearfix">
                            <img src="../../../assets/images/mundo.webp"  alt="" class="img-ind">
                            <div>
                                <h3>Mundo fica 1,4°C mais quente em 2023 e bate recorde, segundo agência da ONU<h3>
                                <div>Relatório da Organização Meteorológica Mundial (OMM) divulgado nesta quinta-feira (30) revela cenário assustador<a href="https://www.cnnbrasil.com.br/internacional/mundo-fica-14-c-mais-quente-em-2023-e-bate-recorde/" class="btn">Mais</a></div>
                            </div>
                        </div>
                        <div class="box-1 clearfix">
                            <img src="../../../assets/images/fossil.webp" alt="" class="img-ind">
                            <div>
                                <h3>Mundo terá que enfrentar discussão sobre futuro dos combustíveis fósseis na COP28</h3>
                                <div>Delegação de quase 200 países vão se reunir nesta semana para a cúpula climática<a href="https://www.cnnbrasil.com.br/internacional/mundo-tera-que-enfrentar-discussao-sobre-futuro-dos-combustiveis-fosseis-na-cop28/" class="btn">Mais</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <h2>Mais discutidos</h2>
                <div class="bg-4 p5">
                    <ul class="list-1">
                        <li><a href="https://www.cnnbrasil.com.br/tecnologia/anuncio-de-recuperacao-da-camada-de-ozonio-foi-prematuro-diz-estudo/">Anúncio de recuperação da camada de ozônio foi prematuro, diz estudo</a></li>
                        <li><a href="https://www.cnnbrasil.com.br/nacional/porto-alegre-embaixo-dagua-veja-imagens-da-enchente-na-capital-gaucha/">Porto Alegre embaixo d’água: veja imagens da enchente na capital gaúcha</a></li>
                        <li><a href="https://www.cnnbrasil.com.br/nacional/448oc-aracuai-mg-tem-o-dia-mais-quente-ja-registrado-no-brasil-diz-inmet/">44,8ºC: Cidade mineira registra o dia mais quente da história do Brasil</a></li>
                        <li><a href="https://www.cnnbrasil.com.br/nacional/em-porto-alegre-nivel-do-guaiba-supera-cota-de-inundacao-e-prefeitura-fecha-comportas/">Em Porto Alegre, nível do Guaíba supera cota de inundação e prefeitura fecha comportas</a></li>
                        <li><a href="https://www.cnnbrasil.com.br/nacional/temperatura-mundial-pode-subir-quase-3c-sem-acoes-agressivas-diz-estudo-da-onu/">Temperatura mundial pode subir quase 3°C sem ações agressivas, diz estudo da ONU</a></li>
                        <li><a href="https://www.cnnbrasil.com.br/nacional/calor-volta-a-sao-paulo-nesta-terca-21-temperatura-pode-passar-dos-30oc/">Calor volta a São Paulo nesta terça (21); temperatura pode passar dos 30ºC</a></li>
                        <li><a href="https://www.cnnbrasil.com.br/nacional/calor-da-tregua-e-so-3-capitais-devem-se-aproximar-dos-40oc-nesta-segunda-20/">Calor dá trégua e só 3 capitais devem se aproximar dos 40ºC nesta segunda (20)</a></li>
                        <li><a href="https://www.cnnbrasil.com.br/nacional/temperatura-em-mg-deve-cair-10c-ate-segunda-20-indica-inmet/">Temperatura em MG deve cair 10°C até segunda (20), indica Inmet</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
